# Ignore virtual environment
venv/
.env

# Bytecode and cache
__pycache__/
*.py[cod]

# Mac and VS Code files
.DS_Store
.vscode/

# # Images and assets (optional, if you don't want to push them)
# assets/

# Model files (optional)
*.pt
*.ckpt

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
